[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BINtools"]
	path = BINtools
	url = https://github.com/cran/BINtools
[submodule "braggR"]
	path = braggR
	url = https://github.com/cran/braggR
[submodule "metaggR"]
	path = metaggR
	url = https://github.com/cran/metaggR
